.carouselimg {
    height: 550px !important;
  }

  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    .carouselimg {
      height: 400px !important;
    }
  }

  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .carouselimg {
      height: 300px !important;
    }
  }

  
.carousel-caption {
  top: 55%;
  transform: translateY(-50%);
  
}
